header {
  text-align: center;
}

nav a{
  background-color: rgb(165, 165, 165);
}

section#featured-property figure {
  text-align: center;
}

section#featured-property p {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: smaller;
  max-width: 800px;
}

section#details {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding-left: 50px;
  padding-right: 50px;
}

section#details div {
  float: left;
  text-align: center;
  }